* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-icon {
  background-color: rgb(70, 189, 216);
  background-image: url(../momentum/assets/images/Rain_Light_Sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.btn-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: 1px solid black;
  background: transparent;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #000000;
  cursor: pointer;
  margin: 10px 10px;
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  outline: none;
}

.btn:focus {
  outline: none;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

p {
  font-size: 0.8rem;
}
.quote,
.container {
  margin: 10px;
  height: 100px;
}

.blockquote {
  padding: 10px;
}
.time {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 4rem;
  height: 200px;
}

@media (max-width: 800px) {
  .time {
    font-size: 2rem;
  }
}
